.main-content-wrap{
    background-image: url("peta.png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center top;
    background-color: #fff;
}

.card{
    background-color: rgba(255, 255, 255, 0.9);
}